{# //-----------------------------------
//   Fichier : pied.html.twig
//   Par:      Anthony Grenier
//   Date :    2025-2-22
//----------------------------------- #}
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">© AnthonyGrenier 2025</span>
    </div>
</footer>