{# //-----------------------------------
//   Fichier : base.html.twig
//   Par:      Anthony Grenier
//   Date :    2025-2-22
//----------------------------------- #}
{% extends 'core/base.html.twig' %}

{% block content %}
<div class="example-wrapper">
    <h2>Politique de remboursement:</h2>
    <p>Il est possible de rembourser une commande avant l'envoie de celle-ci. <br>
    Autrement, un retour est possible jusqu'a 2 semaines apres reception du colis. <br>
    Apres ce délait, seul les retour correspondant à la garantie seront traité.</p> 
    <h2>Pour nous contacter:</h2>
    <h5>courriel :</h5>
    <h4>Console++@gmail.com</h4>
    <h5>courrier postal :</h5>
    <h4> console++ inc.</h4> 
    <a>199 rue du dog</a> <br>
    <a>Blainville , Qc</a><br>
    <a>J7C7H3s</a>
</div>
{% endblock %}
