
.div-form{
    padding: 50px 50px;
}
.section-form{
    padding: 5px 0px;
    width: 1800px;
}
.div-log-in{
    padding: 50px 50px;
}
.erreur{
    width: 1000px;
    color: red;
}
.selecteur{
    width: 200;
}
.spacerClient{
    height: 25px;
}