/*-----------------------------------
    //   Fichier : main.css
    //   Par:      Anthony Grenier
    //   Date :    2025-2-22
    //----------------------------------- */


.nav-title{
    color: white;
}
.select-categories{
    width: 218px;
}
.div-panier{
    padding: 50px 50px 50px 50px;
}
.carousel-produit-text {
    background-color: white;
    color: rgb(39, 44, 44); 
    width: 240px;
    padding: 10px 20px; 
    margin: 15px;
    border-radius: 50px; 
    display: inline-block; 
    box-shadow: 0.13em 0.13em   rgb(69, 64, 64); 

}
.imagecarousel{
    box-shadow: 0.5em 0.5em    rgb(69, 64, 64); 
    border-radius: 5px; 
    width: 280px;
    height: auto
}
.headerConsole h1, .headerConsole h2 {
    margin: 0;
}
.div_recherche {
    width: 25%;
}
.logo{
    width: 120px;
    height: auto;
}
body, html {
    margin: 10; 
    padding: 10; 
    font-family: 'Roboto', sans-serif; 
}
.carteproduit{
    box-shadow: 0.5em 0.5em black;
}
.cartecarousel{
    height: 450px;
    color: whitesmoke;
    background-image: url('../images/univer.gif');
    background-position: center ;
    background-size: cover;
    box-shadow: 0.5em 0.5em  rgb(32, 34, 36); 
    border-radius: 5px; 
}
.carousel-inner {
    overflow: visible;
}

.en-vedette-text {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    color: #333; /* Soft dark text for contrast */
    padding: 25px 150px; /* Larger padding for emphasis */
    border-radius: 50px; /* Oval shape */
    font-size: 35px; /* Bigger, bolder text */
    box-shadow: 0.25em 0.25em    rgb(69, 64, 64); 
    text-transform: uppercase; /* Bold and professional look */
    transition: all 0.3s ease-in-out; /* Smooth hover effect */
}

.en-vedette-text:hover {
    background-color: rgba(0, 0, 0, 1); /* Stronger white background on hover */
    color: white; /* Change text color on hover */
    box-shadow: 0.25em 0.25em    rgb(200, 200, 200); 
    transform: scale(1.05); /* Subtle zoom effect */
}

.glow-effect {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); /* Adds a glowing effect */
    font-weight: bold; /* Enhances text weight */
}
