/*-----------------------------------
    //   Fichier : main.css
    //   Par:      Anthony Grenier
    //   Date :    2025-2-22
    //----------------------------------- */

.headerConsole {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    min-height: 250px;
    border-bottom: 10px solid rgb(39, 44, 44); 
}

.headerConsole h1, .headerConsole h2 {
    margin: 0;
}
.div_recherche {
    width: 35%;
}
.logo{
    width: 120px;
    height: auto;
}
body, html {
    margin: 10; 
    padding: 10; 
}